<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnp.test.modular.dao.RoleMapper">

<!-- 通用查询映射结果 -->
<resultMap id="BaseResultMap" type="com.dnp.test.modular.entity.Role">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="seq" property="seq"/>
    <result column="description" property="description"/>
    <result column="status" property="status"/>
</resultMap>

<select id="findByUsername" resultType="com.dnp.test.modular.entity.Role">
    SELECT * FROM role r LEFT JOIN user_role ur ON r.id = ur.role_id LEFT JOIN user u
    ON ur.user_id = u.id WHERE u.name = #{username}
</select>
</mapper>
