<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnp.test.modular.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dnp.test.modular.entity.User">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="user_type" property="userType"/>
        <result column="status" property="status"/>
        <result column="organization_id" property="organizationId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectUserListPage" resultType="com.dnp.test.vo.UserRoleOrgVo">
        SELECT u.id AS userId, u.username AS username, u.password, u.phone, u.create_time AS createTime, u.organization_id
        AS organizationId, o.name AS organizationName FROM `user` u LEFT JOIN `organization` o ON u.organization_id =
        o.id
        <where>
            1 = 1
            <if test="searchName != null and searchName != ''">
                and u.name like '%${searchName}%'
            </if>
        </where>
    </select>
</mapper>
